<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
  <div class="container">
    <a class="navbar-brand" routerLink="/">Home</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault"
      aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

    <div class="collapse navbar-collapse" id="navbarsExampleDefault">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" routerLink="/about">O mnie</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/contact">Kontakt</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="/login">Logowanie</a>
          </li>
          <li class="nav-item">
              <a class="nav-link" routerLink="/register">Rejestracja</a>
            </li>

      </ul>
      <div ngbDropdown class="dropdown">
        <button *ngIf="user" ngbDropdownToggle class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
          {{user.email}}
        </button>
        <div ngbDropdownMenu class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          <a class="dropdown-item" href="#">Panel użytkownika</a>
          <a class="dropdown-item" href="#">Panel admina</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" (click)="logout()" >Wyloguj</a>
        </div>
      </div>
    </div>
  </div>
</nav>